<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>登录</p>
    <!-- 获取get请求的方法 -->
    <h2>用户名：<%=getData.username%></h2>
    <h2>密码：<%=getData.password%></h2>
    <!-- 获取post请求的方法 -->
    <p><%=data.msg%></p>
    <ul>
        <%data.list.forEach((item)=>{%>
            <li><%=item.title%></li>
        <%})%>    
    </ul>
</body>
</html>